# Don’t commit the following directories created by pub.
.buildlog
.dart_tool/
.vscode/settings.json
.pub/
build/
packages

# Include when developing application packages.
pubspec.lock
.packages

# Ignore common coverage directory
coverage/
