language: dart
sudo: required

# We require PhantomJS 2.x, which is only available on Trusty.
dist: trusty

dart:
 - dev

env: FORCE_TEST_EXIT=true

# Content shell needs these fonts.
addons:
  apt:
    packages:
    - ttf-kochi-mincho
    - ttf-kochi-gothic
    - ttf-dejavu
    - ttf-indic-fonts
    - fonts-tlwg-garuda

before_install:
  - mkdir -p bin
  - export PATH="$PATH:`pwd`/bin/"
  - ln -s `which chromium-browser` bin/google-chrome

dart_task:

 - dart_task: dartfmt
 - dart_task: dartanalyzer

 # Split the tests into five shards to help parallelize them across Travis workers.
 - test: --preset travis --total-shards 5 --shard-index 0
 - test: --preset travis --total-shards 5 --shard-index 1
 - test: --preset travis --total-shards 5 --shard-index 2
 - test: --preset travis --total-shards 5 --shard-index 3
 - test: --preset travis --total-shards 5 --shard-index 4

# Only building master means that we don't run two builds for each pull request.
branches:
  only: [master, /feature\..*/]

cache:
 directories:
   - $HOME/.pub-cache
