name: unittest
version: 0.11.8
author: Dart Team <misc@dartlang.org>
description: A library for writing dart unit tests.
homepage: https://github.com/dart-lang/old_unittest
environment:
  sdk: '>=2.0.0-dev.61.0 <3.0.0'
dependencies:
  stack_trace: '>=0.9.0 <2.0.0'
dev_dependencies:
  metatest: '>=0.1.0 <0.2.0'
