name: unittest
version: 0.12.0-dev
author: Dart Team <misc@dartlang.org>
description: A library for writing dart unit tests.
homepage: https://github.com/dart-lang/unittest
environment:
  sdk: '>=1.8.0 <2.0.0'
dependencies:
  args: '^0.12.1'
  matcher: '^0.12.0-alpha.0'
  stack_trace: '^1.2.0'
dev_dependencies:
  fake_async: '^0.1.2'
