name: test
version: 0.12.0-rc.1
author: Dart Team <misc@dartlang.org>
description: A library for writing dart unit tests.
homepage: https://github.com/dart-lang/test
environment:
  sdk: '>=1.8.0 <2.0.0'
dependencies:
  analyzer: '>=0.23.0 <0.26.0'
  args: '>=0.12.1 <0.14.0'
  barback: '>=0.14.0 <0.16.0'
  crypto: '^0.9.0'
  http_parser: '^0.0.2'
  pool: '^1.0.0'
  pub_semver: '^1.0.0'
  shelf: '>=0.5.3 <0.7.0'
  shelf_static: '^0.2.0'
  shelf_web_socket: '^0.0.1'
  source_span: '^1.0.0'
  stack_trace: '^1.2.0'
  string_scanner: '^0.1.1'
  yaml: '>=0.9.0 <3.0.0'

  # Use a tight version constraint to ensure that a constraint on matcher
  # properly constraints all features it provides.
  matcher: '^0.12.0-alpha.0'
dev_dependencies:
  fake_async: '^0.1.2'
