name: test_api
version: 0.3.0-dev
description: A library for writing Dart tests.
homepage: https://github.com/dart-lang/test/blob/master/pkgs/test_api

environment:
  sdk: ">=2.9.0-1 <3.0.0"

dependencies:
  async: ^2.0.0
  boolean_selector: ">=1.0.0 <3.0.0"
  collection: ^1.8.0
  meta: ^1.1.5
  path: ^1.2.0
  source_span: ^1.4.0
  stack_trace: ^1.9.0
  stream_channel: ">=1.7.0 <3.0.0"
  string_scanner: ^1.0.0
  term_glyph: ^1.0.0

  # Use a tight version constraint to ensure that a constraint on matcher
  # properly constrains all features it provides.
  matcher: ">=0.12.6 <0.12.9"

dev_dependencies:
  fake_async: ^1.0.0
  pedantic: ^1.0.0
  test_descriptor: ^1.0.0
  test_process: ^1.0.0
  test: any
  test_core: any

dependency_overrides:
  test:
    path: ./../test
  test_core:
    path: ./../test_core
  async:
    git:
      url: git://github.com/dart-lang/async.git
      ref: null_safety
  boolean_selector:
    git:
      url: git://github.com/dart-lang/boolean_selector.git
      ref: null_safety
  charcode:
    git:
      url: git://github.com/dart-lang/charcode.git
      ref: null_safety
  clock:
    git:
      url: git://github.com/dart-lang/clock.git
      ref: null_safety
  collection:
    git:
      url: git://github.com/dart-lang/collection.git
      ref: null_safety
  fake_async:
    git:
      url: git://github.com/dart-lang/fake_async.git
      ref: null_safety
  js:
    git:
      url: git://github.com/dart-lang/sdk.git
      ref: null_safety-pkgs
      path: pkg/js
  matcher:
    git:
      url: git://github.com/dart-lang/matcher.git
      ref: null_safety
  meta:
    git:
      url: git://github.com/dart-lang/sdk.git
      ref: null_safety-pkgs
      path: pkg/meta
  path:
    git:
      url: git://github.com/dart-lang/path.git
      ref: null_safety
  pedantic:
    git:
      url: git://github.com/dart-lang/pedantic.git
      ref: null_safety
  pool:
    git:
      url: git://github.com/dart-lang/pool.git
      ref: null_safety
  source_maps:
    git:
      url: git://github.com/dart-lang/source_maps.git
      ref: null_safety
  source_map_stack_trace:
    git:
      url: git://github.com/dart-lang/source_map_stack_trace.git
      ref: null_safety
  source_span:
    git:
      url: git://github.com/dart-lang/source_span.git
      ref: null_safety
  stack_trace:
    git:
      url: git://github.com/dart-lang/stack_trace.git
      ref: null_safety
  stream_channel:
    git:
      url: git://github.com/dart-lang/stream_channel.git
      ref: null_safety
  string_scanner:
    git:
      url: git://github.com/dart-lang/string_scanner.git
      ref: null_safety
  term_glyph:
    git:
      url: git://github.com/dart-lang/term_glyph.git
      ref: null_safety
