name: test_api
version: 0.3.0
description: A library for writing Dart tests.
homepage: https://github.com/dart-lang/test/blob/master/pkgs/test_api

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  async: ^2.5.0
  boolean_selector: ^2.1.0
  collection: ^1.15.0
  meta: ^1.3.0
  path: ^1.8.0
  source_span: ^1.8.0
  stack_trace: ^1.10.0
  stream_channel: ^2.1.0
  string_scanner: ^1.1.0
  term_glyph: ^1.2.0

  # Use a tight version constraint to ensure that a constraint on matcher
  # properly constrains all features it provides.
  matcher: '>=0.12.10 <0.12.11'

dev_dependencies:
  pedantic: ^1.10.0
  test: any
  test_core: any

dependency_overrides:
  test:
    path: ../test
  test_core:
    path: ../test_core
