name: test_api
version: 0.1.1
author: Dart Team <misc@dartlang.org>
description: A library for writing Dart tests with extensions to provide a custom runner.
homepage: https://github.com/dart-lang/test/pkgs/test_api
environment:
  sdk: '>=2.0.0 <3.0.0'
dependencies:
  async: '>=1.13.0 <3.0.0'
  boolean_selector: '^1.0.0'
  collection: '^1.8.0'
  meta: '^1.1.5'
  path: '^1.2.0'
  source_span: '^1.4.0'
  stack_trace: '^1.9.0'
  stream_channel: '^1.6.0'
  string_scanner: '>=0.1.1 <2.0.0'
  term_glyph: '^1.0.0'

  # Use a tight version constraint to ensure that a constraint on matcher
  # properly constrains all features it provides.
  matcher: '>=0.12.3 <0.12.4'
dev_dependencies:
  fake_async: '>=0.1.2 <2.0.0'
  test_descriptor: '^1.0.0'
  test_process: '^1.0.0'
  test: '>=0.12.0 <2.0.0'
dependency_overrides:
  test:
    path: ./../test
