name: test_core
version: 0.6.12
description: A basic library for writing tests and running them on the VM.
repository: https://github.com/dart-lang/test/tree/master/pkgs/test_core
issue_tracker: https://github.com/dart-lang/test/issues?q=is%3Aissue+is%3Aopen+label%3Apackage%3Atest
resolution: workspace

environment:
  sdk: ^3.5.0

dependencies:
  analyzer: '>=6.0.0 <9.0.0'
  args: ^2.0.0
  async: ^2.5.0
  boolean_selector: ^2.1.0
  collection: ^1.15.0
  coverage: ^1.0.0
  frontend_server_client: '>=3.2.0 <5.0.0'
  glob: ^2.0.0
  io: ^1.0.0
  meta: ^1.3.0
  package_config: ^2.0.0
  path: ^1.8.0
  pool: ^1.5.0
  source_map_stack_trace: ^2.1.0
  source_maps: ^0.10.10
  source_span: ^1.8.0
  stack_trace: ^1.10.0
  stream_channel: ^2.1.0
  # Use an exact version until the test_api package is stable.
  test_api: 0.7.7
  vm_service: '>=6.0.0 <16.0.0'
  yaml: ^3.0.0

dev_dependencies:
  test: any
