name: test_core
version: 0.3.1-dev
description: A basic library for writing tests and running them on the VM.
homepage: https://github.com/dart-lang/test/blob/master/pkgs/test_core

environment:
  sdk: ">=2.4.0 <3.0.0"

dependencies:
  analyzer: ">=0.36.0 <0.40.0"
  async: ^2.0.0
  args: ^1.4.0
  boolean_selector: ">=1.0.0 <3.0.0"
  collection: ^1.8.0
  coverage: ^0.13.3
  glob: ^1.0.0
  io: ^0.3.0
  meta: ^1.1.5
  package_resolver: ^1.0.0
  path: ^1.2.0
  pedantic: ^1.0.0
  pool: ^1.3.0
  source_map_stack_trace: ^1.1.4
  source_maps: ^0.10.2
  source_span: ^1.4.0
  stack_trace: ^1.9.0
  stream_channel: ">=1.7.0 <3.0.0"
  vm_service: '>=1.0.0 <4.0.0'
  yaml: ^2.0.0
  # Use a tight version constraint to ensure that a constraint on matcher
  # properly constrains all features it provides.
  matcher: ">=0.12.6 <0.12.7"
  # Use an exact version until the test_api package is stable.
  test_api: 0.2.14

dependency_overrides:
  test_api:
    path: ../test_api
