name: test_core
version: 0.2.0
author: Dart Team <misc@dartlang.org>
description: A basic library for writing tests and running them on the VM.
homepage: https://github.com/dart-lang/test/pkgs/test_core
environment:
  sdk: '>=2.0.0 <3.0.0'
dependencies:
  analyzer: '>=0.26.4 <0.34.0'
  async: '>=1.13.0 <3.0.0'
  args: '>=1.4.0 <2.0.0'
  boolean_selector: '^1.0.0'
  collection: '^1.8.0'
  glob: '^1.0.0'
  io: '^0.3.0'
  meta: '^1.1.5'
  package_resolver: '^1.0.0'
  path: '^1.2.0'
  pool: '^1.3.0'
  pub_semver: '^1.0.0'
  source_map_stack_trace: '^1.1.4'
  source_maps: '^0.10.2'
  source_span: '^1.4.0'
  stack_trace: '^1.9.0'
  stream_channel: '^1.6.0'
  term_glyph: '^1.0.0'
  vm_service_client: '^0.2.3'
  yaml: '^2.0.0'
  # Use a tight version constraint to ensure that a constraint on matcher
  # properly constrains all features it provides.
  matcher: '>=0.12.3 <0.12.4'
  # Use an exact version until the test_api package is stable.
  test_api: '0.2.0'
dev_dependencies:
  fake_async: '>=0.1.2 <2.0.0'
  pedantic: '1.1.0'
  shelf_test_handler: '^1.0.0'
  test_descriptor: '^1.0.0'
  test_process: '^1.0.0'
dependency_overrides:
  test_api:
    path: ./../test_api
